*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

header{
  background-color: #48C5CE;
  text-align: center;
  color: white;
  padding: 0.625rem;
}

.container{
  max-width: 62.5rem;
  margin: auto;
}

.title{
  font-size: 1.625rem;
}

section{
  padding: 1.25rem;
  background-image: url('../images/people.jpg');
  background-size: cover; /*tamanho exato para cobrir a div*/
  overflow: hidden; /* faz com que a imagem preencha tudo*/

}

.formContainer{
  max-width: 14.375rem;
  background-color: #FFFFFFBB;
  padding: 1.25rem;
  float: right;
}
h2{
  font-size: 1rem;
}
.mb{
  margin-bottom: 0.9375rem;
}

input, select{
  width: 100%;
  box-sizing: border-box; /*para todos os campos ficarem do mesmo tamanho*/
  padding: 0.625rem;
  border: none;
  margin-bottom: 0.625rem;
}

input[type="submit"]{
  color: white;
  background-color: #48C5CE;
  font-weight: bold;
}

select{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; /*aplicado nas 3 opções para funcionar em todos navegadores*/
  background-image: url('../images/arrow.jpg');
  background-repeat: no-repeat;
  /* background-position-x: calc(100% - 10px);
  background-position-y: center; */
  background-position: calc(100% - 10px) center;
}
